/* border-box hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* chef aquino's special sauce */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {color: red;}

/* * {outline: 1px red solid;} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picHolder {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    justify-content: center;
}

.picThumbnailHolder {
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 0.35s;
}

.picThumbnailHolder:hover {
    background-position: unset;
}

.picThumbnailHolder > img {
    max-height: 100%;
    max-width: 100%;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.modal-hidden {
    display: none;
}

.picFrame {
    width: 90%;
    height: 95%;
    /* outline: 2px solid red; */
    margin: 20px;
    text-align: center;
}
.picFrame > img {
    max-height: 100%;
    max-width: 100%;
}

